<template>
    <template if:true={syncStatus}>
        <template if:true={hasSyncError}>
            <lightning-card  variant="Narrow"  title="Contact Sync Error" icon-name="action:close">
                <p class="slds-p-horizontal_small">{syncError}</p>
            </lightning-card>
        </template>
    
        <template if:false={hasSyncError}>
            <lightning-card  variant="Narrow"  title="Contact Synced" icon-name="action:approval">
               
            </lightning-card>
        </template>
    </template>
</template>